<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>read-qrcode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons>
        <ion-back-button (click)="goBack()"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">read-qrcode</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="scanQRCode()">Start Scan</ion-button>

</ion-content>
