<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ event.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header> Informações do Evento </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Subtítulo:</ion-label>
          <ion-text>{{ event.subtitulo }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Data:</ion-label>
          <ion-text>{{ event.data }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Local:</ion-label>
          <ion-text>{{ event.local }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Endereço:</ion-label>
          <ion-text>{{ event.endereco }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Horario de inicio:</ion-label>
          <ion-text>{{ event.inicio }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Valor:</ion-label>
          <ion-text>{{ event.valor }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Descrição:</ion-label>
          <ion-text>{{ event.descricao }}</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="IrParaQrCode()"> Participar </ion-button>
  </div>
</ion-content>
