<ion-content>
  <div>
    <ion-title>PartyPilot eventos</ion-title>
    <ion-list>
      <ion-item>
        <ion-input
          [(ngModel)]="email"
          type="email"
          fill="solid"
          label="Email"
          labelPlacement="floating"
          helperText="Insira seu email"
          errorText="Email inválido!"
          ngModel
          email
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          [(ngModel)]="password"
          type="password"
          fill="solid"
          label="Senha"
          labelPlacement="floating"
          helperText="Insira sua senha"
          errorText="Senha inválida!"
          ngModel
          password
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="Login()">Entrar</ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="IrParaRegistrar()">Criar Conta</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
