<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <ion-title>Cadastrar Evento</ion-title>
    <ion-card>
      <ion-item>
        <ion-input label="Título:" formControlName="titulo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Subtítulo:" formControlName="subtitulo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Data:" formControlName="data"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Local:" formControlName="local"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Endereço:" formControlName="endereco"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Horario de inicio:"
          formControlName="inicio"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Valor:" formControlName="valor"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Descrição:" formControlName="descricao"></ion-input>
      </ion-item>
    </ion-card>
    <ion-button type="submit">Cadastrar</ion-button>
  </form>
</ion-content>
