<ion-content>
  <div>
    <ion-title>PartyPilot eventos</ion-title>
    <ion-list>
      <ion-item>
        <ion-input
          type="email"
          fill="solid"
          label="Email"
          labelPlacement="floating"
          helperText="Insira seu email"
          errorText="Email inválido!"
          ngModel
          email
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          fill="solid"
          label="Senha"
          labelPlacement="floating"
          helperText="Insira sua senha"
          errorText="Senha inválida!"
          ngModel
          email
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          fill="solid"
          label="Confirmar Senha"
          labelPlacement="floating"
          helperText="Confirme sua senha"
          errorText="Senhas diferentes!"
          ngModel
          email
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="text"
          fill="solid"
          label="Nome"
          labelPlacement="floating"
          helperText="Insira seu nome completo"
          errorText=""
          ngModel
          email
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-button>Criar Conta</ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="IrparaLogin()">Fazer login</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
